#defaultWrapper.wrapper
  // Variable movie options
  .backdrop-image(style="background-image:url(" + bg_img + ");")
  .content
    .inner-Bottom
      img.logo.space-bottom-20(src= du_logo_text, alt='du_logo_text')
      button.Sub-Button.space-bottom-20 #{subscribe_button}
      h1.header.space-bottom-5 #{header}
      p.sub-text #{sub_text}
      p.price.space-top-40.space-bottom-10
        b #{price}
// end wrapper




// start WiFi wrapper
#wifiwrapper.wrapper(style='display: none;')
  .backdrop-image(style="background-image:url(" + bg_img + ");")
  .content
    .inner-Bottom
      img.logo.space-bottom-20(src= du_logo_text, alt='du_logo_text')
      form.space-bottom-20(action='#')
        .txtbx
          input.txt1(type='text', value='971')
          input#msisdn.txt2(type='text', placeholder='Enter your mobile number')
        // send pin
        input.space-top-20.space-bottom-20#sendPinBtn.Sub-Button(type='button', value= subscribe_button, onclick='sendPin();')
      h1.header.space-bottom-5 #{header}
      p.sub-text #{sub_text}
      p.price.space-top-50.space-bottom-15
        b #{price}
// end WiFi wrapper




// start otp wrapper
#otpwrapper.wrapper(style='display: none;')
  .backdrop-image(style="background-image:url(" + bg_img + ");")
  .content
    .inner-Bottom
      img.logo.space-bottom-20(src= du_logo_text, alt='du_logo_text')
      form.space-bottom-20(action='#')
        .txtbx
          input.space-bottom-15#pin.txt2(type='text', placeholder='Enter verification code')
        // verify pin
        input#verifyPinBtn.Sub-Button(type='button', value= confirm_opt_btn , onclick='verifyPin();')
      h1.header.space-bottom-5 #{header}
      p.sub-text #{sub_text}
      p.price.space-top-50.space-bottom-15
        b #{price}
// end otp wrapper