a.sub-button#subscribe-btn(onclick="displayConfirmBtn();") #{subscribe_button}

a.sub-button#confirm-btn(href="ty.html"
    data-charge="true",
    data-serviceid="mm-internal-subscription",
    data-assetid = subscriptionTypeId,
    data-contentname="Orange Game Box",
    data-oneclick="true",
    data-billingprovider="mm",
    class= "sub-btn-track sub-button"
    style="display:none;") #{subscribe_button_confirm}